{% extends "base.html" %}
{% import 'article_macros.html' as article_macros %}

{% block title %}{{translate.article_detail.article_files}} {{
    article_macros.etal(article.authors_split)
}}{% endblock title %}
{% block content %}

  {% if article.pdf -%}
  <a href="{{ root_path }}/{{ article.pdf }}" class='download-pdf available'>
    <img src='{{ root_path }}/images/pdf_icon.png' alt='pdf icon'>
    <p>{{translate.article_detail.article_pdf}}</p>
  </a>
  {%- else -%}
  <div class='download-pdf not-available'>
    <img src='{{ root_path }}/images/pdf_icon.png' alt='pdf icon'>
    <p>{{translate.article_detail.presentation_pdf}}</p>
  </div>
  {%- endif %}
  
  <section class='article-info'>
  <h1>{{ article.title }}</h1>
  
    <p>
    <strong>{{translate.article_detail.authors}}</strong> :
    {{ article_macros.authors(article.authors_split, root_path, with_affil=True) }}
    </p>
    
    <p><small>
    <strong>{{translate.article_detail.affiliations}}</strong> :
    {{ article.labos }}
    </small></p>
    
    <p>
    <strong>{{translate.article_detail.theme}}</strong> :
    <a href="{{ root_path }}/topics/topic_{{ topics_code.get(article.topic) }}.html">
        {{ article.topic }}</a>
    <br>
    <strong>{{translate.article_detail.session}}</strong> :
    <a href="{{ root_path }}/sessions/session_{{ article.id_session }}.html">
        {{ article.id_session }} "{{ sessions_details[article.id_session].name}}"</a>
    </p>
    
    {% if article.abstract %}
    <div class='abstract'>
      <h3>{{translate.article_detail.abstract}}</h3>
      <p>
      {{ article.abstract }}
      </p>
    </div>
    {% endif %}

  </section>

{% endblock content %}

