{% extends "base.html" %}
{% set active_page = "lab_list.html" -%}

{% block title %}{{translate.lab_list.labs_list}}{% endblock title %}
{% block content %}
  <h1>{{translate.lab_list.labs}}</h1>
  
  <p>
  <em>{{translate.lab_list.list_of_contributions}}
  </em>
  </p>
  
  {% import 'article_macros.html' as article_macros %}
  <ul class="lab-list">
  {% for lab, art_list in labs|dictsort %}
    <li >{{ lab}}
    
    <ul class='title-list'>
    {% for art in art_list -%}
      <li>
        {{ article_macros.title_link(art, root_path) }}
      </li>
    {%- endfor %}
    </ul>
    </li>
  {% endfor %}
  </ul>

{% endblock content %}
